body {
    background-image: url(lab1\ background.png);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 20px auto;
    border: 8px ridge #858585;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(149, 128, 128, 0.1);
}

.header {
    background-color: #febeac; 
    text-align: center;
    padding: 10px 0;
    font-family: "Brush Script MT", cursive;
    font-size: 32px;
    color: #000;
    margin: 20px;
    border: 2px solid #000000;
}

.header img {
    width: 80px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.header .logo {
    display: inline-block;
    font-family: "Brush Script MT";
}

.links {
    background-color: #febeac;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    padding: 5px;
    margin: 20px;
    border: 2px solid #000000;
}

.links a {
    color: red;    
    margin: 0 5px;
}

.section {
    padding-left: 100px;
    padding-right: 100px ;
    background-color: #f8b9a7;
    margin: 20px;
    border: 2px solid #000000;

}

.section h2 {
    font-weight: bold;
    font-size: 18px;
}

.section p {
    font-style: italic;
    font-size: 14px;
}

.calculators {
    color: red;
    margin-top: 10px;
    text-decoration: underline;
}
.footer {
    background-color: #febeac;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    margin: 20px;
}
